<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>

    <main>
      <body>
        <form action='/Registrar/' method='POST'>
          <p>
          <label for='nome'>Nome de Usuário : </label>
          <input type='text' name='nome' id='nome'>
          </p>
          <p>
          <label for='email'>Email : </label>
          <input type='email' name='email' id='email'>
          </p>
          <p>
          <label for='senha'>Senha : </label>
          <input type='password' name='senha' id='senha'>
          </p>
          <p>
          <label for='senhaConfirma'>Confirmar Senha : </label>
          <input type='password' name='senhaConfirma' id='senhaConfirma'>
          </p>
          <p>
          <button type='submit'>Registrar</button>
          </p>
        </form>
      </body>
    </main>

  <%- include('./partials/footer') %>	
</html>