<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>

    <main>
      <body>
        <h1>Relatórios</h1>
        <p>Welcome to relatórios </p>
      </body>
    </main>

  <%- include('./partials/footer') %>	
</html>
