<footer>
  <div class="container">
    <div class="infos">
      <p> 
        Perguntas Frequentes <br>
        Termos e condições
      </p>
      <p>
        Fale Conosco :
      </p>
    </div>
  </div>
</footer>