<head>
  <title>UAIAgendar</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
    <div class="container">
      <nav class="esq">
          <ul>
            <li><a href='Servicos'> Serviços </a></li>
            <li><a href='Clientes'> Clientes </a></li>
            <li><a href='Venda'> Venda </a></li>
            <li><a href='Caixa'> Caixa </a></li>
            <li><a href='Relatorios'> Relatórios </a></li>
            <li><a href='Agenda'> Agenda </a></li>
          </ul>
      </nav>
      <div class="dir">
        <ul>
          <li><a href='/Login'> <img src='images/icone_account.jpg'></a></li>
          <li><a href='/Registrar'> <img src='images/loog_mail.jpg'></a></li>
        </ul>
      </div>
    </div>
</header>