<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
    <div class="container">

    <nav>
        <ul>
          <li><a href='Venda'> Venda </a></li>
          <li><a href='Caixa'> Caixa </a></li>
          <li><a href='Relatorios'> Relatórios </a></li>
          <li><a href='Agenda'> Agenda </a></li>
        </ul>
    </nav>
    </div>
</header>